<h1>Full Stack DEV - Product Catalog</h1>
<p>The following are the requirments of the Product Catalog</p>
<p><b>User Stories</b></p>
<p>
  1. As a user, I want to view the list of products, so that I can have an overview of all the available catalog<br /><br />
  <b>Given</b> there are no products available in the catalog<br />
  <b>When</b> I navigate to the products list page<br />
  <b>Then</b> a friendly message should inform the user<br /><br />
  <b>Given</b> some products<br />
  <b>When</b> I navigate to the products list page<br />
  <b>Then</b> it should be possible to view the product available in the catalog<br />
  <em>Note:</em> neither pagination nor sorting is required<br /><br />
  <b>Given</b> some products<br />
  <b>When</b> I’m looking at their list<br />
  <b>Then</b> it should be possible to view for each itb at least:
  <ul>
    <li>Name</li>
    <li>Short description (optional)</li>
    <li>Quantity available</li>
  </ul><br />
<p>
  2. As a user, I want to add a new product to the catalog.<br /><br />
  <b>Given</b> I’m on the list page<br />
  <b>When</b> I want to add a new product<br />
  <b>Then</b> it should be possible to use a specific action on the UI<br /><br />
  <b>Given</b> I’m adding a new item<br />
  <b>When</b> I’m inserting the product information<br />
  <b>Then</b> it should be possible to insert the following fields:
  <ul>
    <li>Name</li>
    <li>Short description (optional)</li>
    <li>Quantity available</li>
  </ul><br />
  <b>Given</b> I’ve inserted the product information<br />
  <b>When</b> I want to confirm the operation<br />
  <b>Then</b> it should be possible to use a specific action on the UI<br /><br />
  <b>Given</b> I’m viewing the products list page<br />
  <b>When</b> someone added a new product<br />
  <b>Then</b> it should be possible to view it without manually refreshing the page or the list<br /><br />
  <b>Given</b> I’m adding a new product<br />
  <b>When</b> a product with the same name already exists<br />
  <b>Then</b> the operation should fail<br />
  <b>And</b> a user-friendly message should be shown<br />
